mat-card {
  max-width: 400px;
  margin: 2em auto;
  display: flex;
  justify-items: center;
}

mat-form-field {
  display: block;
}

button.submit {
  background: #589110;
}

.submit:disabled {
  background: darkgray;
  color: gray;
}
