<mat-card class="auction-card" (click)="goToDetails()" [matTooltip]="'See auction details'">
  <mat-card-header>
    <img mat-card-avatar alt=""
         [ngSrc]="auctionCreator.userAvatar || '/default-avatar.png'"
         [width]="auctionCardAvatarW" [height]="auctionCardAvatarH" [routerLink]="['/profile', auctionCreator.id]"
         class="auction-card-avatar"/>

    <mat-card-title [routerLink]="['/profile', auctionCreator.id]"
                    [matTooltip]="'See user profile of ' + auctionCreator.firstName + ' ' +  auctionCreator.lastName ">
      {{ auctionCreator.firstName }} {{ auctionCreator.lastName }}
    </mat-card-title>
    <mat-card-subtitle>{{ getFormattedDate() }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img class="auction-card-img" mat-card-image [ngSrc]="auction.imgSrc || '/placeholder-image.jpg'"
         [width]="auctionCardImgW"
         [height]="auctionCardImgH"
         alt="Photo could not be loaded"/>
    <h3>{{ auction.title }}</h3>
    <p>{{ auction.description }}</p>
  </mat-card-content>
</mat-card>
