
.auction-details-container {
  width: 70%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px;
}

.auction-details-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.auction-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 60%;
}

.auction-objects {
  display: flex;
  gap: 10px;
}

.auction-details-info {
  text-align: right;
}
