.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 2em 2em 0 2em;
}

.user-info {
  text-align: center;
  flex: 1;
  padding-top: 50px;
}

.user-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.user-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-content *:not(img) {
  margin: 5px 0;
}

.user-info-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.edit-form {
  flex: 1;
}

.form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}
