.sidenav {
  width: 200px;
}

.sidenav button {
  width: 100%;
}

mat-sidenav-content {
  width: auto;
  min-height: 90vh;
  overflow: visible;
}

.active {
  background-color: #e0e0e0;
}

.content-padding {
  padding: 1em;
}
